body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.UiPhoto {
  width: 100%;
}

.descript {
  display: flex;
  background: #3c3c3c;
  border-radius: 1.5rem;
}

.descriptOne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}